{{- if and .Values.credentials.vsphere.enabled (not .Values.credentials.vsphere.existingSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "hypersdk.fullname" . }}-vsphere
  labels:
    {{- include "hypersdk.labels" . | nindent 4 }}
type: Opaque
stringData:
  url: {{ .Values.credentials.vsphere.url | quote }}
  username: {{ .Values.credentials.vsphere.username | quote }}
  password: {{ .Values.credentials.vsphere.password | quote }}
  insecure: {{ .Values.credentials.vsphere.insecure | quote }}
---
{{- end }}
{{- if and .Values.credentials.aws.enabled (not .Values.credentials.aws.existingSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "hypersdk.fullname" . }}-aws
  labels:
    {{- include "hypersdk.labels" . | nindent 4 }}
type: Opaque
stringData:
  accessKeyId: {{ .Values.credentials.aws.accessKeyId | quote }}
  secretAccessKey: {{ .Values.credentials.aws.secretAccessKey | quote }}
  region: {{ .Values.credentials.aws.region | quote }}
---
{{- end }}
{{- if and .Values.credentials.azure.enabled (not .Values.credentials.azure.existingSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "hypersdk.fullname" . }}-azure
  labels:
    {{- include "hypersdk.labels" . | nindent 4 }}
type: Opaque
stringData:
  subscriptionId: {{ .Values.credentials.azure.subscriptionId | quote }}
  tenantId: {{ .Values.credentials.azure.tenantId | quote }}
  clientId: {{ .Values.credentials.azure.clientId | quote }}
  clientSecret: {{ .Values.credentials.azure.clientSecret | quote }}
---
{{- end }}
{{- if and .Values.credentials.gcp.enabled (not .Values.credentials.gcp.existingSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "hypersdk.fullname" . }}-gcp
  labels:
    {{- include "hypersdk.labels" . | nindent 4 }}
type: Opaque
stringData:
  projectId: {{ .Values.credentials.gcp.projectId | quote }}
  serviceAccountJSON: {{ .Values.credentials.gcp.serviceAccountJSON | quote }}
{{- end }}
