{{- if .Values.namespace.create -}}
apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Values.namespace.name }}
  labels:
    {{- include "hypersdk-operator.labels" . | nindent 4 }}
    app.kubernetes.io/component: system
{{- end }}
